In [1]:
import numpy as np
import pandas as pd

import sklearn
from mixed_naive_bayes import MixedNB

#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import accuracy_score

# Import LabelEncoder
from sklearn import preprocessing

In [2]:
dataset = pd.read_csv('custData.csv')

In [3]:
dataset

            age  income student credit_rating class
0         youth    high      no          fair    no
1         youth    high      no     excellent    no
2   middle_aged    high      no          fair   yes
3        senior  medium      no          fair   yes
4        senior     low     yes          fair   yes
5        senior     low     yes     excellent    no
6   middle_aged     low     yes     excellent   yes
7         youth  medium      no          fair    no
8         youth     low     yes          fair   yes
9        senior  medium     yes          fair   yes
10        youth  medium     yes     excellent   yes
11  middle_aged  medium      no     excellent   yes
12  middle_aged    high     yes          fair   yes
13       senior  medium      no     excellent    no

In [4]:
labelencoder = preprocessing.LabelEncoder()
dataset.iloc[:, 0] = labelencoder.fit_transform(dataset.iloc[:, 0])
dataset.iloc[:, 1] = labelencoder.fit_transform(dataset.iloc[:, 1])
dataset.iloc[:, 2] = labelencoder.fit_transform(dataset.iloc[:, 2])
dataset.iloc[:, 3] = labelencoder.fit_transform(dataset.iloc[:, 3])
dataset.iloc[:, 4] = labelencoder.fit_transform(dataset.iloc[:, 4])

In [5]:
dataset

    age  income  student  credit_rating  class
0     2       0        0              1      0
1     2       0        0              0      0
2     0       0        0              1      1
3     1       2        0              1      1
4     1       1        1              1      1
5     1       1        1              0      0
6     0       1        1              0      1
7     2       2        0              1      0
8     2       1        1              1      1
9     1       2        1              1      1
10    2       2        1              0      1
11    0       2        0              0      1
12    0       0        1              1      1
13    1       2        0              0      0

In [6]:
X = dataset.iloc[:, 0:4]
y = dataset.iloc[:, 4]

In [7]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: class, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state = 17)

In [9]:
clf = MixedNB(categorical_features=[0,1,2,3])

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
age              14 non-null int64
income           14 non-null int64
student          14 non-null int64
credit_rating    14 non-null int64
dtypes: int64(4)
memory usage: 576.0 bytes

In [11]:
clf.fit(X,y)

[3 3 2 2]

MixedNB(alpha=0.5, var_smoothing=1e-09)

In [12]:
y_pred = clf.predict(X_test)

In [13]:
print(accuracy_score(y_test, y_pred))

0.8