In [1]:
import numpy as np
import pandas as pd

#import urllib.request

import sklearn
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import accuracy_score

# Import LabelEncoder
from sklearn import preprocessing

In [2]:
dataset = pd.read_csv('Drugs.csv')

In [3]:
dataset.head()

   Age Sex      BP Cholesterol     Sodio   Potasio   Drug
0   23   F    HIGH        HIGH  0.792535  0.031258  drugY
1   47   M     LOW        HIGH  0.739309  0.056468  drugC
2   47   M     LOW        HIGH  0.697269  0.068944  drugC
3   28   F  NORMAL        HIGH  0.563682  0.072289  drugX
4   61   F     LOW        HIGH  0.559294  0.030998  drugY

In [4]:
dataset.shape

(200, 7)

In [5]:
dataset.head()

   Age Sex      BP Cholesterol     Sodio   Potasio   Drug
0   23   F    HIGH        HIGH  0.792535  0.031258  drugY
1   47   M     LOW        HIGH  0.739309  0.056468  drugC
2   47   M     LOW        HIGH  0.697269  0.068944  drugC
3   28   F  NORMAL        HIGH  0.563682  0.072289  drugX
4   61   F     LOW        HIGH  0.559294  0.030998  drugY

In [6]:
#creating labelEncoder
le = preprocessing.LabelEncoder()

sex = dataset.loc[:, 'Sex']
# Converting string labels into numbers.
dataset['sex_cd']=le.fit_transform(dataset.loc[:, 'Sex'])
dataset['BP_cd']=le.fit_transform(dataset.loc[:, 'BP'])
dataset['Chol_cd']=le.fit_transform(dataset.loc[:, 'Cholesterol'])

In [7]:
dataset = dataset.drop(['Sex', 'BP', 'Cholesterol'], axis=1)

In [8]:
dataset.head()

   Age     Sodio   Potasio   Drug  sex_cd  BP_cd  Chol_cd
0   23  0.792535  0.031258  drugY       0      1        1
1   47  0.739309  0.056468  drugC       1      2        1
2   47  0.697269  0.068944  drugC       1      2        1
3   28  0.563682  0.072289  drugX       0      3        1
4   61  0.559294  0.030998  drugY       0      2        1

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
Age        200 non-null int64
Sodio      200 non-null float64
Potasio    200 non-null float64
Drug       200 non-null object
sex_cd     200 non-null int64
BP_cd      200 non-null int64
Chol_cd    200 non-null int64
dtypes: float64(2), int64(4), object(1)
memory usage: 11.1+ KB

In [10]:
X = dataset.loc[:, dataset.columns != 'Drug']
y = dataset.loc[:, dataset.columns == 'Drug']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, stratify=y)

In [12]:
y

      Drug
0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
..     ...
195  drugC
196  drugC
197  drugX
198  drugX
199  drugX

[200 rows x 1 columns]

In [13]:
BernNB = BernoulliNB(binarize = 0.1)
BernNB.fit(X_train, y_train)
print(BernNB)

BernoulliNB(binarize=0.1)

/Users/ofigue/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [14]:
y_expect = y_test
y_pred = BernNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

0.45

In [15]:
MultiNB = MultinomialNB()
MultiNB.fit(X_train, y_train)
print(MultiNB)
y_pred = MultiNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

MultinomialNB()
0.45

/Users/ofigue/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [16]:
GaussNB = GaussianNB()
GaussNB.fit(X_train, y_train)
print(GaussNB)
y_pred = GaussNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

GaussianNB()
0.55

/Users/ofigue/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [17]:
type(y_pred)

numpy.ndarray