In [1]:
import pandas as pd
from mlxtend.preprocessing import OnehotTransactions
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [4]:
oht = OnehotTransactions()
oht_ary = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_ary, columns=oht.columns_)
print (df)

   Apple   Corn   Dill   Eggs  Ice cream  Kidney Beans   Milk  Nutmeg  Onion  \
0  False  False  False   True      False          True   True    True   True
1  False  False   True   True      False          True  False    True   True
2   True  False  False   True      False          True   True   False  False
3  False   True  False  False      False          True   True   False  False
4  False   True  False   True       True          True  False   False   True

   Unicorn  Yogurt
0    False    True
1    False    True
2    False   False
3     True    True
4    False   False

/Users/ofigue/opt/anaconda3/lib/python3.7/site-packages/mlxtend/preprocessing/onehot.py:66: DeprecationWarning: OnehotTransactions has been deprecated and will be removed in future. Please use TransactionEncoder instead.
  warnings.warn(msg, DeprecationWarning)

In [5]:
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [6]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
print (frequent_itemsets)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Onion, Eggs)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Onion, Eggs, Kidney Beans)

In [7]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
print (rules)

             antecedents            consequents  antecedent support  \
0                (Onion)                 (Eggs)                 0.6
1                 (Eggs)                (Onion)                 0.8
2  (Onion, Kidney Beans)                 (Eggs)                 0.6
3   (Eggs, Kidney Beans)                (Onion)                 0.8
4                (Onion)   (Eggs, Kidney Beans)                 0.6
5                 (Eggs)  (Onion, Kidney Beans)                 0.8

   consequent support  support  confidence  lift  leverage  conviction
0                 0.8      0.6        1.00  1.25      0.12         inf
1                 0.6      0.6        0.75  1.25      0.12         1.6
2                 0.8      0.6        1.00  1.25      0.12         inf
3                 0.6      0.6        0.75  1.25      0.12         1.6
4                 0.8      0.6        1.00  1.25      0.12         inf
5                 0.6      0.6        0.75  1.25      0.12         1.6

In [8]:
frequent_itemsets = apriori(df, min_support=0.0053, use_colnames=True) # min_support = 0.07
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
1,(Apple),(Eggs),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
2,(Apple),(Kidney Beans),0.2,1.0,0.2,1.000000,1.000000,0.00,inf
3,(Kidney Beans),(Apple),1.0,0.2,0.2,0.200000,1.000000,0.00,1.000000
4,(Apple),(Milk),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
5,(Milk),(Apple),0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
6,(Corn),(Ice cream),0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
7,(Ice cream),(Corn),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
8,(Corn),(Kidney Beans),0.4,1.0,0.4,1.000000,1.000000,0.00,inf
9,(Kidney Beans),(Corn),1.0,0.4,0.4,0.400000,1.000000,0.00,1.000000
10,(Unicorn),(Corn),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
11,(Corn),(Unicorn),0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
12,(Dill),(Eggs),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
13,(Eggs),(Dill),0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
14,(Dill),(Kidney Beans),0.2,1.0,0.2,1.000000,1.000000,0.00,inf
15,(Kidney Beans),(Dill),1.0,0.2,0.2,0.200000,1.000000,0.00,1.000000
16,(Dill),(Nutmeg),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
17,(Nutmeg),(Dill),0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
18,(Onion),(Dill),0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
19,(Dill),(Onion),0.2,0.6,0.2,1.000000,1.666667,0.08,inf

In [9]:
rules.tail(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1216,"(Onion, Yogurt, Kidney Beans)","(Eggs, Milk, Nutmeg)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1217,"(Eggs, Milk, Nutmeg)","(Onion, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1218,"(Kidney Beans, Milk, Nutmeg)","(Onion, Eggs, Yogurt)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1219,"(Yogurt, Milk, Nutmeg)","(Onion, Eggs, Kidney Beans)",0.2,0.6,0.2,1.000000,1.666667,0.08,inf
1220,"(Eggs, Kidney Beans, Milk)","(Onion, Yogurt, Nutmeg)",0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
1221,"(Eggs, Milk, Yogurt)","(Onion, Kidney Beans, Nutmeg)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1222,"(Yogurt, Kidney Beans, Milk)","(Onion, Eggs, Nutmeg)",0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
1223,"(Eggs, Kidney Beans, Nutmeg)","(Onion, Yogurt, Milk)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1224,"(Eggs, Yogurt, Nutmeg)","(Onion, Kidney Beans, Milk)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1225,"(Yogurt, Kidney Beans, Nutmeg)","(Onion, Eggs, Milk)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1226,"(Eggs, Kidney Beans, Yogurt)","(Onion, Milk, Nutmeg)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1227,"(Onion, Milk)","(Eggs, Kidney Beans, Yogurt, Nutmeg)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1228,"(Onion, Nutmeg)","(Eggs, Kidney Beans, Milk, Yogurt)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1229,"(Onion, Eggs)","(Yogurt, Kidney Beans, Milk, Nutmeg)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
1230,"(Onion, Kidney Beans)","(Eggs, Yogurt, Milk, Nutmeg)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
1231,"(Onion, Yogurt)","(Eggs, Kidney Beans, Milk, Nutmeg)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1232,"(Milk, Nutmeg)","(Onion, Eggs, Kidney Beans, Yogurt)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1233,"(Eggs, Milk)","(Onion, Yogurt, Kidney Beans, Nutmeg)",0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
1234,"(Yogurt, Milk)","(Onion, Eggs, Kidney Beans, Nutmeg)",0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
1235,"(Eggs, Nutmeg)","(Onion, Yogurt, Kidney Beans, Milk)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1236,"(Kidney Beans, Nutmeg)","(Onion, Eggs, Milk, Yogurt)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1237,"(Yogurt, Nutmeg)","(Onion, Eggs, Kidney Beans, Milk)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1238,"(Eggs, Kidney Beans)","(Onion, Yogurt, Milk, Nutmeg)",0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
1239,"(Eggs, Yogurt)","(Onion, Kidney Beans, Milk, Nutmeg)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1240,"(Yogurt, Kidney Beans)","(Onion, Eggs, Milk, Nutmeg)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
1241,(Onion),"(Milk, Nutmeg, Eggs, Kidney Beans, Yogurt)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
1242,(Nutmeg),"(Onion, Milk, Eggs, Kidney Beans, Yogurt)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1243,(Eggs),"(Onion, Milk, Nutmeg, Yogurt, Kidney Beans)",0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
1244,(Kidney Beans),"(Onion, Milk, Nutmeg, Eggs, Yogurt)",1.0,0.2,0.2,0.200000,1.000000,0.00,1.000000
1245,(Yogurt),"(Onion, Milk, Nutmeg, Eggs, Kidney Beans)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000