In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df = pd.read_csv('BreadBasket_DMS.csv')

In [3]:
df.shape

(21293, 4)

In [4]:
df.head(20)

        Date      Time  Transaction           Item
0   10/30/16  09:58:11            1          Bread
1   10/30/16  10:05:34            2   Scandinavian
2   10/30/16  10:05:34            2   Scandinavian
3   10/30/16  10:07:57            3  Hot chocolate
4   10/30/16  10:07:57            3            Jam
5   10/30/16  10:07:57            3        Cookies
6   10/30/16  10:08:41            4         Muffin
7   10/30/16  10:13:03            5         Coffee
8   10/30/16  10:13:03            5         Pastry
9   10/30/16  10:13:03            5          Bread
10  10/30/16  10:16:55            6      Medialuna
11  10/30/16  10:16:55            6         Pastry
12  10/30/16  10:16:55            6         Muffin
13  10/30/16  10:19:12            7      Medialuna
14  10/30/16  10:19:12            7         Pastry
15  10/30/16  10:19:12            7         Coffee
16  10/30/16  10:19:12            7            Tea
17  10/30/16  10:20:51            8         Pastry
18  10/30/16  10:20:51            8          Bread
19  10/30/16  10:21:59            9          Bread

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 4 columns):
Date           21293 non-null object
Time           21293 non-null object
Transaction    21293 non-null int64
Item           21293 non-null object
dtypes: int64(1), object(3)
memory usage: 665.5+ KB

In [6]:
df.head(10)

       Date      Time  Transaction           Item
0  10/30/16  09:58:11            1          Bread
1  10/30/16  10:05:34            2   Scandinavian
2  10/30/16  10:05:34            2   Scandinavian
3  10/30/16  10:07:57            3  Hot chocolate
4  10/30/16  10:07:57            3            Jam
5  10/30/16  10:07:57            3        Cookies
6  10/30/16  10:08:41            4         Muffin
7  10/30/16  10:13:03            5         Coffee
8  10/30/16  10:13:03            5         Pastry
9  10/30/16  10:13:03            5          Bread

In [7]:
df['Item'].value_counts()

Coffee            5471
Bread             3325
Tea               1435
Cake              1025
Pastry             856
                  ...
Bacon                1
Chicken sand         1
The BART             1
Adjustment           1
Olum & polenta       1
Name: Item, Length: 95, dtype: int64

In [8]:
df = df[(df['Transaction'] > 0) & (df['Transaction'] <= 1000)]

In [9]:
df.shape

(2120, 4)

In [10]:
df.head()

       Date      Time  Transaction           Item
0  10/30/16  09:58:11            1          Bread
1  10/30/16  10:05:34            2   Scandinavian
2  10/30/16  10:05:34            2   Scandinavian
3  10/30/16  10:07:57            3  Hot chocolate
4  10/30/16  10:07:57            3            Jam

In [11]:
df['Item'].value_counts()

Coffee                    533
Bread                     287
Tea                       151
Pastry                    120
Medialuna                  81
Brownie                    77
Scandinavian               63
Farm House                 63
Muffin                     61
Alfajores                  60
Cookies                    57
Soup                       54
NONE                       53
Hot chocolate              48
Hearty & Seasonal          47
Jam                        41
Fudge                      36
Cake                       36
Juice                      32
Sandwich                   32
Tartine                    31
Mineral water              21
Focaccia                   18
Frittata                   14
Coke                       13
Pick and Mix Bowls         12
Mighty Protein             11
My-5 Fruit Shoot            8
Empanadas                   7
Basket                      6
Keeping It Local            6
Dulce de Leche              6
Victorian Sponge            6
Smoothies                   5
Bread Pudding               4
Ella's Kitchen Pouches      4
Art Tray                    3
Eggs                        2
Truffles                    2
Granola                     2
Chicken sand                1
Chimichurri Oil             1
Honey                       1
Adjustment                  1
Bowl Nic Pitt               1
The BART                    1
Fairy Doors                 1
Name: Item, dtype: int64

In [12]:
len(df['Item'].value_counts())

47

In [13]:
df.head()

       Date      Time  Transaction           Item
0  10/30/16  09:58:11            1          Bread
1  10/30/16  10:05:34            2   Scandinavian
2  10/30/16  10:05:34            2   Scandinavian
3  10/30/16  10:07:57            3  Hot chocolate
4  10/30/16  10:07:57            3            Jam

In [14]:
df = df.groupby(['Transaction', 'Item']).size()

In [15]:
df.head(20)

Transaction  Item
1            Bread            1
2            Scandinavian     2
3            Cookies          1
             Hot chocolate    1
             Jam              1
4            Muffin           1
5            Bread            1
             Coffee           1
             Pastry           1
6            Medialuna        1
             Muffin           1
             Pastry           1
7            Coffee           1
             Medialuna        1
             Pastry           1
             Tea              1
8            Bread            1
             Pastry           1
9            Bread            1
             Muffin           1
dtype: int64

In [16]:
temp = df.unstack(level=-1)

In [17]:
basket = temp.reset_index().fillna(0).set_index('Transaction')

In [18]:
basket.head()

Item,Adjustment,Alfajores,Art Tray,Basket,Bowl Nic Pitt,Bread,Bread Pudding,Brownie,Cake,Chicken sand,...,Pick and Mix Bowls,Sandwich,Scandinavian,Smoothies,Soup,Tartine,Tea,The BART,Truffles,Victorian Sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
basket.columns

Index(['Adjustment', 'Alfajores', 'Art Tray', 'Basket', 'Bowl Nic Pitt',
       'Bread', 'Bread Pudding', 'Brownie', 'Cake', 'Chicken sand',
       'Chimichurri Oil', 'Coffee', 'Coke', 'Cookies', 'Dulce de Leche',
       'Eggs', 'Ella's Kitchen Pouches', 'Empanadas', 'Fairy Doors',
       'Farm House', 'Focaccia', 'Frittata', 'Fudge', 'Granola',
       'Hearty & Seasonal', 'Honey', 'Hot chocolate', 'Jam', 'Juice',
       'Keeping It Local', 'Medialuna', 'Mighty Protein', 'Mineral water',
       'Muffin', 'My-5 Fruit Shoot', 'NONE', 'Pastry', 'Pick and Mix Bowls',
       'Sandwich', 'Scandinavian', 'Smoothies', 'Soup', 'Tartine', 'Tea',
       'The BART', 'Truffles', 'Victorian Sponge'],
      dtype='object', name='Item')

In [20]:
basket.loc[2,'Scandinavian']

2.0

In [21]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)
basket_sets

Item,Adjustment,Alfajores,Art Tray,Basket,Bowl Nic Pitt,Bread,Bread Pudding,Brownie,Cake,Chicken sand,...,Pick and Mix Bowls,Sandwich,Scandinavian,Smoothies,Soup,Tartine,Tea,The BART,Truffles,Victorian Sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [22]:
frequent_itemsets = apriori(basket_sets, min_support=0.001, use_colnames=True) # min_support = 0.07
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Art Tray),(Alfajores),0.003061,0.057143,0.001020,0.333333,5.833333,0.000845,1.414286
1,(Alfajores),(Art Tray),0.057143,0.003061,0.001020,0.017857,5.833333,0.000845,1.015065
2,(Coffee),(Alfajores),0.457143,0.057143,0.027551,0.060268,1.054688,0.001429,1.003325
3,(Alfajores),(Coffee),0.057143,0.457143,0.027551,0.482143,1.054688,0.001429,1.048276
4,(Alfajores),(Cookies),0.057143,0.057143,0.006122,0.107143,1.875000,0.002857,1.056000
5,(Cookies),(Alfajores),0.057143,0.057143,0.006122,0.107143,1.875000,0.002857,1.056000
6,(Dulce de Leche),(Alfajores),0.006122,0.057143,0.002041,0.333333,5.833333,0.001691,1.414286
7,(Alfajores),(Dulce de Leche),0.057143,0.006122,0.002041,0.035714,5.833333,0.001691,1.030688
8,(Ella's Kitchen Pouches),(Alfajores),0.004082,0.057143,0.001020,0.250000,4.375000,0.000787,1.257143
9,(Alfajores),(Ella's Kitchen Pouches),0.057143,0.004082,0.001020,0.017857,4.375000,0.000787,1.014026
10,(Empanadas),(Alfajores),0.007143,0.057143,0.001020,0.142857,2.500000,0.000612,1.100000
11,(Alfajores),(Empanadas),0.057143,0.007143,0.001020,0.017857,2.500000,0.000612,1.010909
12,(Frittata),(Alfajores),0.014286,0.057143,0.001020,0.071429,1.250000,0.000204,1.015385
13,(Alfajores),(Frittata),0.057143,0.014286,0.001020,0.017857,1.250000,0.000204,1.003636
14,(Hot chocolate),(Alfajores),0.048980,0.057143,0.004082,0.083333,1.458333,0.001283,1.028571
15,(Alfajores),(Hot chocolate),0.057143,0.048980,0.004082,0.071429,1.458333,0.001283,1.024176
16,(Alfajores),(Juice),0.057143,0.032653,0.007143,0.125000,3.828125,0.005277,1.105539
17,(Juice),(Alfajores),0.032653,0.057143,0.007143,0.218750,3.828125,0.005277,1.206857
18,(Alfajores),(Medialuna),0.057143,0.077551,0.005102,0.089286,1.151316,0.000671,1.012885
19,(Medialuna),(Alfajores),0.077551,0.057143,0.005102,0.065789,1.151316,0.000671,1.009256

In [23]:
rules.loc[700:750,]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
700,"(Alfajores, Jam)",(Medialuna),0.001020,0.077551,0.001020,1.000000,12.894737,0.000941,inf
701,"(Jam, Medialuna)",(Alfajores),0.002041,0.057143,0.001020,0.500000,8.750000,0.000904,1.885714
702,"(Alfajores, Medialuna)",(Jam),0.005102,0.041837,0.001020,0.200000,4.780488,0.000807,1.197704
703,(Jam),"(Alfajores, Medialuna)",0.041837,0.005102,0.001020,0.024390,4.780488,0.000807,1.019770
704,(Alfajores),"(Jam, Medialuna)",0.057143,0.002041,0.001020,0.017857,8.750000,0.000904,1.016104
705,(Medialuna),"(Alfajores, Jam)",0.077551,0.001020,0.001020,0.013158,12.894737,0.000941,1.012299
706,"(Alfajores, Jam)",(Pastry),0.001020,0.116327,0.001020,1.000000,8.596491,0.000902,inf
707,"(Jam, Pastry)",(Alfajores),0.004082,0.057143,0.001020,0.250000,4.375000,0.000787,1.257143
708,"(Alfajores, Pastry)",(Jam),0.004082,0.041837,0.001020,0.250000,5.975610,0.000850,1.277551
709,(Jam),"(Alfajores, Pastry)",0.041837,0.004082,0.001020,0.024390,5.975610,0.000850,1.020816
710,(Alfajores),"(Jam, Pastry)",0.057143,0.004082,0.001020,0.017857,4.375000,0.000787,1.014026
711,(Pastry),"(Alfajores, Jam)",0.116327,0.001020,0.001020,0.008772,8.596491,0.000902,1.007820
712,"(Alfajores, Jam)",(Tea),0.001020,0.146939,0.001020,1.000000,6.805556,0.000870,inf
713,"(Jam, Tea)",(Alfajores),0.006122,0.057143,0.001020,0.166667,2.916667,0.000671,1.131429
714,"(Alfajores, Tea)",(Jam),0.009184,0.041837,0.001020,0.111111,2.655827,0.000636,1.077934
715,(Jam),"(Alfajores, Tea)",0.041837,0.009184,0.001020,0.024390,2.655827,0.000636,1.015587
716,(Alfajores),"(Jam, Tea)",0.057143,0.006122,0.001020,0.017857,2.916667,0.000671,1.011948
717,(Tea),"(Alfajores, Jam)",0.146939,0.001020,0.001020,0.006944,6.805556,0.000870,1.005965
718,"(Mineral water, Alfajores)",(Juice),0.002041,0.032653,0.001020,0.500000,15.312500,0.000954,1.934694
719,"(Mineral water, Juice)",(Alfajores),0.005102,0.057143,0.001020,0.200000,3.500000,0.000729,1.178571
720,"(Alfajores, Juice)",(Mineral water),0.007143,0.021429,0.001020,0.142857,6.666667,0.000867,1.141667
721,(Mineral water),"(Alfajores, Juice)",0.021429,0.007143,0.001020,0.047619,6.666667,0.000867,1.042500
722,(Alfajores),"(Mineral water, Juice)",0.057143,0.005102,0.001020,0.017857,3.500000,0.000729,1.012987
723,(Juice),"(Mineral water, Alfajores)",0.032653,0.002041,0.001020,0.031250,15.312500,0.000954,1.030151
724,"(Alfajores, Pick and Mix Bowls)",(Juice),0.001020,0.032653,0.001020,1.000000,30.625000,0.000987,inf
725,"(Alfajores, Juice)",(Pick and Mix Bowls),0.007143,0.012245,0.001020,0.142857,11.666667,0.000933,1.152381
726,"(Pick and Mix Bowls, Juice)",(Alfajores),0.004082,0.057143,0.001020,0.250000,4.375000,0.000787,1.257143
727,(Alfajores),"(Pick and Mix Bowls, Juice)",0.057143,0.004082,0.001020,0.017857,4.375000,0.000787,1.014026
728,(Pick and Mix Bowls),"(Alfajores, Juice)",0.012245,0.007143,0.001020,0.083333,11.666667,0.000933,1.083117
729,(Juice),"(Alfajores, Pick and Mix Bowls)",0.032653,0.001020,0.001020,0.031250,30.625000,0.000987,1.031205
730,"(Alfajores, Tea)",(Juice),0.009184,0.032653,0.001020,0.111111,3.402778,0.000721,1.088265
731,"(Tea, Juice)",(Alfajores),0.005102,0.057143,0.001020,0.200000,3.500000,0.000729,1.178571
732,(Alfajores),"(Tea, Juice)",0.057143,0.005102,0.001020,0.017857,3.500000,0.000729,1.012987
733,(Juice),"(Alfajores, Tea)",0.032653,0.009184,0.001020,0.031250,3.402778,0.000721,1.022778
734,"(Alfajores, Pastry)",(Medialuna),0.004082,0.077551,0.001020,0.250000,3.223684,0.000704,1.229932
735,"(Alfajores, Medialuna)",(Pastry),0.005102,0.116327,0.001020,0.200000,1.719298,0.000427,1.104592
736,"(Pastry, Medialuna)",(Alfajores),0.017347,0.057143,0.001020,0.058824,1.029412,0.000029,1.001786
737,(Alfajores),"(Pastry, Medialuna)",0.057143,0.017347,0.001020,0.017857,1.029412,0.000029,1.000519
738,(Pastry),"(Alfajores, Medialuna)",0.116327,0.005102,0.001020,0.008772,1.719298,0.000427,1.003702
739,(Medialuna),"(Alfajores, Pastry)",0.077551,0.004082,0.001020,0.013158,3.223684,0.000704,1.009197
740,"(Alfajores, Scandinavian)",(Medialuna),0.004082,0.077551,0.002041,0.500000,6.447368,0.001724,1.844898
741,"(Alfajores, Medialuna)",(Scandinavian),0.005102,0.063265,0.002041,0.400000,6.322581,0.001718,1.561224
742,"(Scandinavian, Medialuna)",(Alfajores),0.005102,0.057143,0.002041,0.400000,7.000000,0.001749,1.571429
743,(Alfajores),"(Scandinavian, Medialuna)",0.057143,0.005102,0.002041,0.035714,7.000000,0.001749,1.031746
744,(Scandinavian),"(Alfajores, Medialuna)",0.063265,0.005102,0.002041,0.032258,6.322581,0.001718,1.028061
745,(Medialuna),"(Alfajores, Scandinavian)",0.077551,0.004082,0.002041,0.026316,6.447368,0.001724,1.022835
746,"(Alfajores, Tea)",(Medialuna),0.009184,0.077551,0.001020,0.111111,1.432749,0.000308,1.037755
747,"(Alfajores, Medialuna)",(Tea),0.005102,0.146939,0.001020,0.200000,1.361111,0.000271,1.066327
748,"(Tea, Medialuna)",(Alfajores),0.006122,0.057143,0.001020,0.166667,2.916667,0.000671,1.131429
749,(Alfajores),"(Tea, Medialuna)",0.057143,0.006122,0.001020,0.017857,2.916667,0.000671,1.011948
750,(Tea),"(Alfajores, Medialuna)",0.146939,0.005102,0.001020,0.006944,1.361111,0.000271,1.001855