In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#from apyori import apriori
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
store_data = pd.read_csv('store_data.csv', header=None)

In [3]:
type(store_data)

pandas.core.frame.DataFrame

In [4]:
store_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
store_data.shape

(7501, 20)

In [6]:
store_data = store_data.stack()
store_data = store_data.reset_index()
del store_data['level_1']
store_data.rename(columns={0:'items'}, inplace=True)
store_data.rename(columns={'level_0':'nro'}, inplace=True)

In [7]:
store_data.head()

   nro           items
0    0          shrimp
1    0         almonds
2    0         avocado
3    0  vegetables mix
4    0    green grapes

In [8]:
store_data = store_data.groupby(['nro', 'items']).size()

In [9]:
store_data.head(40)

nro  items
0    almonds              1
     antioxydant juice    1
     avocado              1
     cottage cheese       1
     energy drink         1
     frozen smoothie      1
     green grapes         1
     green tea            1
     honey                1
     low fat yogurt       1
     mineral water        1
     olive oil            1
     salad                1
     salmon               1
     shrimp               1
     spinach              1
     tomato juice         1
     vegetables mix       1
     whole weat flour     1
     yams                 1
1    burgers              1
     eggs                 1
     meatballs            1
2    chutney              1
3    avocado              1
     turkey               1
4    energy bar           1
     green tea            1
     milk                 1
     mineral water        1
     whole wheat rice     1
5    low fat yogurt       1
6    french fries         1
     whole wheat pasta    1
7    light cream          1
     shallot              1
     soup                 1
8    frozen vegetables    1
     green tea            1
     spaghetti            1
dtype: int64

In [10]:
temp = store_data.unstack(level=-1)

In [11]:
temp.head()

items,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
nro,,,,,,,,,,,,,,,,,,,,,
0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [12]:
productos = temp.reset_index().fillna(0).set_index('nro')

In [13]:
productos.head()

items,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
nro,,,,,,,,,,,,,,,,,,,,,
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
store_prods = productos.applymap(encode_units)
store_prods

items,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
nro,,,,,,,,,,,,,,,,,,,,,
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [15]:
frequent_itemsets = apriori(store_prods, min_support=0.0053, use_colnames=True) # min_support = 0.07
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(chocolate),0.020397,0.163845,0.005999,0.294118,1.795099,0.002657,1.184553
1,(chocolate),(almonds),0.163845,0.020397,0.005999,0.036615,1.795099,0.002657,1.016834
2,(eggs),(almonds),0.179709,0.020397,0.006532,0.036350,1.782108,0.002867,1.016555
3,(almonds),(eggs),0.020397,0.179709,0.006532,0.320261,1.782108,0.002867,1.206774
4,(almonds),(mineral water),0.020397,0.238368,0.007599,0.372549,1.562914,0.002737,1.213851
5,(mineral water),(almonds),0.238368,0.020397,0.007599,0.031879,1.562914,0.002737,1.011860
6,(almonds),(spaghetti),0.020397,0.174110,0.005999,0.294118,1.689262,0.002448,1.170011
7,(spaghetti),(almonds),0.174110,0.020397,0.005999,0.034456,1.689262,0.002448,1.014561
8,(chocolate),(avocado),0.163845,0.033329,0.007066,0.043124,1.293907,0.001605,1.010237
9,(avocado),(chocolate),0.033329,0.163845,0.007066,0.212000,1.293907,0.001605,1.061111
10,(french fries),(avocado),0.170911,0.033329,0.007999,0.046802,1.404243,0.002303,1.014135
11,(avocado),(french fries),0.033329,0.170911,0.007999,0.240000,1.404243,0.002303,1.090907
12,(green tea),(avocado),0.132116,0.033329,0.006266,0.047427,1.422995,0.001863,1.014800
13,(avocado),(green tea),0.033329,0.132116,0.006266,0.188000,1.422995,0.001863,1.068823
14,(milk),(avocado),0.129583,0.033329,0.007466,0.057613,1.728626,0.003147,1.025769
15,(avocado),(milk),0.033329,0.129583,0.007466,0.224000,1.728626,0.003147,1.121672
16,(mineral water),(avocado),0.238368,0.033329,0.011598,0.048658,1.459926,0.003654,1.016113
17,(avocado),(mineral water),0.033329,0.238368,0.011598,0.348000,1.459926,0.003654,1.168147
18,(spaghetti),(avocado),0.174110,0.033329,0.007999,0.045942,1.378438,0.002196,1.013220
19,(avocado),(spaghetti),0.033329,0.174110,0.007999,0.240000,1.378438,0.002196,1.086697

In [16]:
frequent_itemsets.tail()

      support                                      itemsets
666  0.008532            (shrimp, mineral water, spaghetti)
667  0.007466              (soup, mineral water, spaghetti)
668  0.009332          (mineral water, spaghetti, tomatoes)
669  0.006399            (turkey, mineral water, spaghetti)
670  0.006266  (spaghetti, mineral water, whole wheat rice)

In [17]:
rules[300:350]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
300,(eggs),(fresh tuna),0.179709,0.022264,0.005866,0.032641,1.466106,0.001865,1.010727
301,(fresh tuna),(eggs),0.022264,0.179709,0.005866,0.263473,1.466106,0.001865,1.113728
302,(eggs),(frozen vegetables),0.179709,0.095321,0.021730,0.120920,1.268559,0.004600,1.029121
303,(frozen vegetables),(eggs),0.095321,0.179709,0.021730,0.227972,1.268559,0.004600,1.062514
304,(eggs),(green tea),0.179709,0.132116,0.025463,0.141691,1.072479,0.001721,1.011156
305,(green tea),(eggs),0.132116,0.179709,0.025463,0.192735,1.072479,0.001721,1.016135
306,(eggs),(ground beef),0.179709,0.098254,0.019997,0.111276,1.132539,0.002340,1.014653
307,(ground beef),(eggs),0.098254,0.179709,0.019997,0.203528,1.132539,0.002340,1.029905
308,(eggs),(ham),0.179709,0.026530,0.006266,0.034866,1.314238,0.001498,1.008638
309,(ham),(eggs),0.026530,0.179709,0.006266,0.236181,1.314238,0.001498,1.073933
310,(eggs),(herb & pepper),0.179709,0.049460,0.012532,0.069733,1.409883,0.003643,1.021793
311,(herb & pepper),(eggs),0.049460,0.179709,0.012532,0.253369,1.409883,0.003643,1.098656
312,(eggs),(light mayo),0.179709,0.027196,0.005466,0.030415,1.118363,0.000578,1.003320
313,(light mayo),(eggs),0.027196,0.179709,0.005466,0.200980,1.118363,0.000578,1.026621
314,(eggs),(low fat yogurt),0.179709,0.076523,0.016798,0.093472,1.221484,0.003046,1.018696
315,(low fat yogurt),(eggs),0.076523,0.179709,0.016798,0.219512,1.221484,0.003046,1.050997
316,(eggs),(milk),0.179709,0.129583,0.030796,0.171365,1.322437,0.007509,1.050423
317,(milk),(eggs),0.129583,0.179709,0.030796,0.237654,1.322437,0.007509,1.076009
318,(eggs),(mineral water),0.179709,0.238368,0.050927,0.283383,1.188845,0.008090,1.062815
319,(mineral water),(eggs),0.238368,0.179709,0.050927,0.213647,1.188845,0.008090,1.043158
320,(eggs),(olive oil),0.179709,0.065858,0.011998,0.066766,1.013783,0.000163,1.000973
321,(olive oil),(eggs),0.065858,0.179709,0.011998,0.182186,1.013783,0.000163,1.003029
322,(eggs),(pancakes),0.179709,0.095054,0.021730,0.120920,1.272118,0.004648,1.029424
323,(pancakes),(eggs),0.095054,0.179709,0.021730,0.228612,1.272118,0.004648,1.063395
324,(eggs),(red wine),0.179709,0.028130,0.007066,0.039318,1.397728,0.002011,1.011646
325,(red wine),(eggs),0.028130,0.179709,0.007066,0.251185,1.397728,0.002011,1.095451
326,(eggs),(salmon),0.179709,0.042528,0.008266,0.045994,1.081509,0.000623,1.003634
327,(salmon),(eggs),0.042528,0.179709,0.008266,0.194357,1.081509,0.000623,1.018182
328,(eggs),(shrimp),0.179709,0.071457,0.014131,0.078635,1.100450,0.001290,1.007790
329,(shrimp),(eggs),0.071457,0.179709,0.014131,0.197761,1.100450,0.001290,1.022502
330,(eggs),(spaghetti),0.179709,0.174110,0.036528,0.203264,1.167446,0.005239,1.036592
331,(spaghetti),(eggs),0.174110,0.179709,0.036528,0.209801,1.167446,0.005239,1.038081
332,(eggs),(turkey),0.179709,0.062525,0.019464,0.108309,1.732245,0.008228,1.051345
333,(turkey),(eggs),0.062525,0.179709,0.019464,0.311301,1.732245,0.008228,1.191072
334,(eggs),(whole wheat rice),0.179709,0.058526,0.010932,0.060831,1.039390,0.000414,1.002455
335,(whole wheat rice),(eggs),0.058526,0.179709,0.010932,0.186788,1.039390,0.000414,1.008705
336,(milk),(energy bar),0.129583,0.027063,0.005466,0.042181,1.558622,0.001959,1.015784
337,(energy bar),(milk),0.027063,0.129583,0.005466,0.201970,1.558622,0.001959,1.090708
338,(mineral water),(energy bar),0.238368,0.027063,0.006799,0.028523,1.053964,0.000348,1.001503
339,(energy bar),(mineral water),0.027063,0.238368,0.006799,0.251232,1.053964,0.000348,1.017179
340,(french fries),(energy drink),0.170911,0.026663,0.006133,0.035881,1.345733,0.001576,1.009561
341,(energy drink),(french fries),0.026663,0.170911,0.006133,0.230000,1.345733,0.001576,1.076740
342,(french fries),(escalope),0.170911,0.079323,0.016398,0.095944,1.209537,0.002841,1.018385
343,(escalope),(french fries),0.079323,0.170911,0.016398,0.206723,1.209537,0.002841,1.045145
344,(frozen smoothie),(escalope),0.063325,0.079323,0.005466,0.086316,1.088159,0.000443,1.007654
345,(escalope),(frozen smoothie),0.079323,0.063325,0.005466,0.068908,1.088159,0.000443,1.005996
346,(frozen vegetables),(escalope),0.095321,0.079323,0.007599,0.079720,1.005011,0.000038,1.000432
347,(escalope),(frozen vegetables),0.079323,0.095321,0.007599,0.095798,1.005011,0.000038,1.000528
348,(ground beef),(escalope),0.098254,0.079323,0.008266,0.084125,1.060538,0.000472,1.005243
349,(escalope),(ground beef),0.079323,0.098254,0.008266,0.104202,1.060538,0.000472,1.006640

In [18]:
rules[rules['antecedent support'] > 0.10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(chocolate),(almonds),0.163845,0.020397,0.005999,0.036615,1.795099,0.002657,1.016834
2,(eggs),(almonds),0.179709,0.020397,0.006532,0.036350,1.782108,0.002867,1.016555
5,(mineral water),(almonds),0.238368,0.020397,0.007599,0.031879,1.562914,0.002737,1.011860
7,(spaghetti),(almonds),0.174110,0.020397,0.005999,0.034456,1.689262,0.002448,1.014561
8,(chocolate),(avocado),0.163845,0.033329,0.007066,0.043124,1.293907,0.001605,1.010237
...,...,...,...,...,...,...,...,...,...
1638,(spaghetti),"(mineral water, tomatoes)",0.174110,0.024397,0.009332,0.053599,2.196964,0.005084,1.030856
1644,(mineral water),"(turkey, spaghetti)",0.238368,0.016531,0.006399,0.026846,1.623945,0.002459,1.010599
1645,(spaghetti),"(turkey, mineral water)",0.174110,0.019197,0.006399,0.036753,1.914497,0.003057,1.018226
1649,(spaghetti),"(mineral water, whole wheat rice)",0.174110,0.020131,0.006266,0.035988,1.787709,0.002761,1.016449
1650,(mineral water),"(whole wheat rice, spaghetti)",0.238368,0.014131,0.006266,0.026286,1.860131,0.002897,1.012483

In [19]:
rules[(rules['lift'] > 0.9) & (rules['lift'] < 1.01)]
#rules[rules['lift'] < 1.01]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
346,(frozen vegetables),(escalope),0.095321,0.079323,0.007599,0.079720,1.005011,0.000038,1.000432
347,(escalope),(frozen vegetables),0.079323,0.095321,0.007599,0.095798,1.005011,0.000038,1.000528
356,(tomatoes),(escalope),0.068391,0.079323,0.005466,0.079922,1.007555,0.000041,1.000651
357,(escalope),(tomatoes),0.079323,0.068391,0.005466,0.068908,1.007555,0.000041,1.000555
1280,"(frozen vegetables, mineral water)",(french fries),0.035729,0.170911,0.006133,0.171642,1.004279,0.000026,1.000883
1281,(french fries),"(frozen vegetables, mineral water)",0.170911,0.035729,0.006133,0.035881,1.004279,0.000026,1.000159
1310,"(mineral water, milk)",(french fries),0.047994,0.170911,0.008266,0.172222,1.007675,0.000063,1.001585
1311,(french fries),"(mineral water, milk)",0.170911,0.047994,0.008266,0.048362,1.007675,0.000063,1.000387