In [14]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import accuracy_score

In [15]:
dataset = pd.read_csv('custData.csv')

In [16]:
dataset

            age  income student credit_rating class
0         youth    high      no          fair    no
1         youth    high      no     excellent    no
2   middle_aged    high      no          fair   yes
3        senior  medium      no          fair   yes
4        senior     low     yes          fair   yes
5        senior     low     yes     excellent    no
6   middle_aged     low     yes     excellent   yes
7         youth  medium      no          fair    no
8         youth     low     yes          fair   yes
9        senior  medium     yes          fair   yes
10        youth  medium     yes     excellent   yes
11  middle_aged  medium      no     excellent   yes
12  middle_aged    high     yes          fair   yes
13       senior  medium      no     excellent    no

In [17]:
labelencoder = LabelEncoder()
dataset.iloc[:, 0] = labelencoder.fit_transform(dataset.iloc[:, 0])
dataset.iloc[:, 1] = labelencoder.fit_transform(dataset.iloc[:, 1])
dataset.iloc[:, 2] = labelencoder.fit_transform(dataset.iloc[:, 2])
dataset.iloc[:, 3] = labelencoder.fit_transform(dataset.iloc[:, 3])

In [18]:
dataset

    age  income  student  credit_rating class
0     2       0        0              1    no
1     2       0        0              0    no
2     0       0        0              1   yes
3     1       2        0              1   yes
4     1       1        1              1   yes
5     1       1        1              0    no
6     0       1        1              0   yes
7     2       2        0              1    no
8     2       1        1              1   yes
9     1       2        1              1   yes
10    2       2        1              0   yes
11    0       2        0              0   yes
12    0       0        1              1   yes
13    1       2        0              0    no

In [19]:
X = dataset.iloc[:, 0:4]
y = dataset.iloc[:, 4]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state = 17)

In [21]:
BernNB = BernoulliNB(binarize = 0.1) #alpha Additive (Laplace/Lidstone) smoothing parameter (0 for no smoothing).
# class_prior: Prior probabilities of the classes. If specified the priors are not adjusted according to the data.
# fit_prior: Whether to learn class prior probabilities or not. If false, a uniform prior will be used.
BernNB.fit(X_train, y_train)
print(BernNB)

BernoulliNB(alpha=1.0, binarize=0.1, class_prior=None, fit_prior=True)

In [22]:
y_expect = y_test
y_pred = BernNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

0.4

In [23]:
MultiNB = MultinomialNB()
MultiNB.fit(X_train, y_train)
print(MultiNB)
y_pred = MultiNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
0.6

In [24]:
GaussNB = GaussianNB()
GaussNB.fit(X_train, y_train)
print(GaussNB)
y_pred = GaussNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

GaussianNB(priors=None, var_smoothing=1e-09)
0.6

In [25]:
y_expect

2     yes
10    yes
13     no
3     yes
5      no
Name: class, dtype: object

In [26]:
y_pred

array(['yes', 'yes', 'yes', 'yes', 'yes'], dtype='<U3')