In [61]:
import numpy as np
import pandas as pd

#import urllib.request

import sklearn
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import accuracy_score

# Import LabelEncoder
from sklearn import preprocessing

In [62]:
dataset = pd.read_csv('custData.csv')

In [33]:
dataset

            age  income student credit_rating class
0         youth    high      no          fair    no
1         youth    high      no     excellent    no
2   middle_aged    high      no          fair   yes
3        senior  medium      no          fair   yes
4        senior     low     yes          fair   yes
5        senior     low     yes     excellent    no
6   middle_aged     low     yes     excellent   yes
7         youth  medium      no          fair    no
8         youth     low     yes          fair   yes
9        senior  medium     yes          fair   yes
10        youth  medium     yes     excellent   yes
11  middle_aged  medium      no     excellent   yes
12  middle_aged    high     yes          fair   yes
13       senior  medium      no     excellent    no

In [63]:
#creating labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.
#dataset['age_cd']=le.fit_transform(dataset.loc[:, 'age'])
#dataset['income_cd']=le.fit_transform(dataset.loc[:, 'income'])
#dataset['student_cd']=le.fit_transform(dataset.loc[:, 'student'])
#dataset['credit_rating_cd']=le.fit_transform(dataset.loc[:, 'credit_rating'])


dataset.iloc[:, 0] = le.fit_transform(dataset.iloc[:, 0])
dataset.iloc[:, 1] = le.fit_transform(dataset.iloc[:, 1])
dataset.iloc[:, 2] = le.fit_transform(dataset.iloc[:, 2])
dataset.iloc[:, 3] = le.fit_transform(dataset.iloc[:, 3])

In [64]:
dataset
#dataset.drop(['age','income','student', 'credit_rating'], axis=1)

    age  income  student  credit_rating class
0     2       0        0              1    no
1     2       0        0              0    no
2     0       0        0              1   yes
3     1       2        0              1   yes
4     1       1        1              1   yes
5     1       1        1              0    no
6     0       1        1              0   yes
7     2       2        0              1    no
8     2       1        1              1   yes
9     1       2        1              1   yes
10    2       2        1              0   yes
11    0       2        0              0   yes
12    0       0        1              1   yes
13    1       2        0              0    no

In [65]:
# X training data
# Y target
X = dataset.iloc[:, 0:4]
y = dataset.iloc[:, 4]

In [66]:
X_entrenamiento, X_prueba, y_entrenamiento, y_prueba = train_test_split(X, y, test_size = .3, random_state = 17)

In [67]:
_bernoulliNB = BernoulliNB(binarize = 0.1) 
_bernoulliNB.fit(X_entrenamiento, y_entrenamiento)
print(_bernoulliNB)

BernoulliNB(binarize=0.1)

In [68]:
y_esperado = y_prueba
y_predecido = _bernoulliNB.predict(X_prueba)
print(accuracy_score(y_esperado, y_predecido))

0.4

In [69]:
_multiNB = MultinomialNB()
_multiNB.fit(X_entrenamiento, y_entrenamiento)
print(_multiNB)
y_predecido = _multiNB.predict(X_prueba)
print(accuracy_score(y_esperado, y_predecido))


#MultiNB = MultinomialNB()
#MultiNB.fit(X_train, y_train)
#print(MultiNB)
#y_pred = MultiNB.predict(X_test)
#print(accuracy_score(y_expect, y_pred))

MultinomialNB()
0.6

In [70]:
_gaussNB = GaussianNB()
_gaussNB.fit(X_entrenamiento, y_entrenamiento)
print(_gaussNB)
y_predecido = _gaussNB.predict(X_prueba)
print(accuracy_score(y_esperado, y_predecido))

GaussianNB()
0.6

In [19]:
y_esperado

2     yes
10    yes
13     no
3     yes
5      no
Name: class, dtype: object

In [20]:
y_predecido

array(['yes', 'yes', 'yes', 'yes', 'yes'], dtype='<U3')