In [1]:
# Libraries
#invite people for the Kaggle party
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn import preprocessing
from scipy import stats
from pandas import Series, DataFrame
from pandas.plotting import autocorrelation_plot
#from pandas.tools.plotting import scatter_matrix
from pylab import rcParams
from matplotlib import collections as collections
from matplotlib.patches import Rectangle
from itertools import cycle

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

rcParams['figure.figsize'] = 5,4
sb.set_style('whitegrid')
from numpy import median
from numpy import mean

In [2]:
df = pd.read_csv('RossmanDataV1.csv')

In [3]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,107,6,5/23/15,3918,378,1,0,0,0,d,a,0,0.0,0.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1,492,3,6/5/13,8856,901,1,1,0,0,d,a,0,0.0,0.0,0,NaN,NaN,NaN
2,57,1,12/30/13,5940,577,1,0,0,1,a,c,0,0.0,0.0,0,NaN,NaN,NaN
3,260,5,1/2/15,4311,439,1,0,0,1,a,c,0,0.0,0.0,0,NaN,NaN,NaN
4,932,4,4/4/13,3294,345,1,0,0,1,d,a,0,0.0,0.0,1,5.0,2013.0,"Feb,May,Aug,Nov"